body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: url('img/stars.png') no-repeat center center fixed;
}

.navbar {
    margin-bottom: 20px;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar .navbar-brand, .navbar .btn-outline-secondary {
    position: absolute;
}

.navbar .navbar-brand {
    left: 10px;
}

.navbar .btn-outline-secondary {
    right: 10px;
}

.container-fluid{
    font-size: 1.5rem;
    font-weight: bold;
}

.guide-section {
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.guide-section h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.75rem;
}

.guide-section p {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.6;
}

.steps ul {
    list-style-type: disc;
    padding-left: 20px;
}

.steps ul li {
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1.6;
}

.steps ul li a {
    text-decoration: none;
    color: #007bff;
}

.steps ul li a:hover {
    text-decoration: underline;
}

.carousel-indicators [data-bs-target] {
    background-color: #0719c3;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #0719c3;
    border-radius: 50%;
}

.carousel-item {
    text-align: center;
    padding: 20px;
}

.carousel-item h2 {
    font-size: 1.75rem;
    margin-bottom: 10px;
}

.carousel-item p {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.6;
}

.d-flex {
    justify-content: center;
    align-items: center;
}
