body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.full-height {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #00c99e 50%, #186fc6 50%);
}
.side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 100%;
}
.button {
    border: none;
    background: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}
.button img {
    display: block;
    margin: 0 auto 10px;
    width: 200px;
    height: auto;
}