/* Global Variables */
:root {
  --button-color: linear-gradient(to right, #40afc8, #1e6cd2, #2d24d8, #150973);
  --text-color: #000000;
  --card-background-color: #ffffff;
  --button-border-radius: 10px;
  --background-color: #bae6f5;
  --button-font-size: 1.5rem;
  --button-danger: linear-gradient(to right, #fd1d1d, #fcb045);
}


/* General Styles */
body {
  background-color: var(--background-color);
}

.hidden {
  display: none;
}

/* Keyframes */
@keyframes dropIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Question Styles */
#question {
  margin-bottom: 20px;
  font-weight: bold;
}

/* Option Button Styles */
.option-button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 2px solid #2d24d8;
  border-radius: var(--button-border-radius);
  text-align: center;
  cursor: pointer;
  font-size: 1.25rem;
  color: var(--text-color);
  opacity: 0;
  animation: dropIn 1s ease forwards;
  animation-delay: calc(var(--order) * 50ms);
}

.option-button.correct {
  background-color: rgb(157, 230, 157);
}

.option-button.incorrect {
  background-color: rgb(241, 141, 141);
}

/* Narrator Box Styles */
.narrator-box {
  background-color: #ffffff;
  border: 9px solid;
  border-image: linear-gradient(to right, #40afc8, #2d24d8) 1;
  clip-path: inset(0 round 10px);
  color: var(--text-color);
  font-size: 1.25rem;
  padding: 15px;
  border-radius: var(--button-border-radius);
  margin-bottom: 20px;
}

/* Modal Styles */
#modalFeedbackImage,
#completionImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

#modalFeedbackImage img,
#completionImage img {
  max-width: 100%;
  width: 100px;
  height: auto;
}

.modal-content {
  border-radius: var(--button-border-radius);
  padding: 20px;
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  color: #333;
  font-size: 1.5rem;
}

.modal-footer {
  border-top: none;
  padding-top: 10px;
}

.modal-footer .btn {
  width: 100%;
  padding: 15px;
  font-size: var(--button-font-size);
  border-radius: var(--button-border-radius);
}

.modal-footer .btn-secondary {
  background: var(--button-color);
  color: #fff;
  border: none;
}

/* Progress Bar Styles */
.progress {
  height: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #40afc8, #1e6cd2, #2d24d8, #150973);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #40afc8, #1e6cd2, #2d24d8, #150973);
  height: 100%;
  transition: width 0.6s ease;
}

/* Continue Button Styles */
#continue-button {
  padding: 15px;
  font-size: var(--button-font-size);
  color: #ffffff;
  background: var(--button-color);
  border: none;
  border-radius: var(--button-border-radius);
  text-align: center;
}
