@import url(https://fonts.googleapis.com/css?family=Hind);
:root {
  --button-color: linear-gradient(to right, #40afc8, #1e6cd2, #2d24d8, #150973);
  --text-color: #000000;
  --card-background-color: #ffffff;
  --button-border-radius: 10px;
  --background-color: #bae6f5;
  --button-font-size: 1.5rem;
  --button-danger: linear-gradient(to right, #fd1d1d, #fcb045);
}


/* profile page styling */
.profile-image-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  border: 2px solid rgb(17, 125, 248);
}

.profile-image {
  width: 180px;
  height: 180px;
  background-size: cover;
  background-position: center top;
  position: absolute;
  clip-path: circle(50% at 50% 50%);
  margin-left: -42px;
  top: -10px;
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-info {
  text-align: left;
}

.profile-info .form-group {
  margin-bottom: 15px;
}

.btn-primary {
  width: 90%;
  background: var(--button-color);
  border: none;
  padding: 10px 15px;
  font-size: var(--button-font-size);
  border-radius: var(--button-border-radius);
}

.card-box {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.modal-content {
    border-radius: 10px;
}

.modal-header .btn-close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}

.modal-body {
    padding-top: 0;
}