@import url(https://fonts.googleapis.com/css?family=Hind);
:root {
  --button-color: linear-gradient(to right, #40afc8, #1e6cd2, #2d24d8, #150973);
  --text-color: #000000;
  --card-background-color: #ffffff;
  --button-border-radius: 10px;
  --background-color: #bae6f5;
  --button-font-size: 1.5rem;
}

/* profile page styling */
.profile-container {
  max-width: 100%;
  margin: 50px auto;
  padding: 20px;
  background-color: transparent;
  color: #000000;
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-info {
  text-align: left;
}

.profile-info .form-group {
  margin-bottom: 15px;
}


.profile-image{
    width: 70%;
    height: auto;
}

.btn-primary {
  width: 90%;
  background: var(--button-color);
  border: none;
  padding: 10px 15px;
  font-size: var(--button-font-size);
  border-radius: var(--button-border-radius);
}

.card-box {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.profile-image {
    width: 100px;
    height: 100px;
}

.modal-content {
    border-radius: 10px;
}

.modal-header .btn-close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}

.modal-body {
    padding-top: 0;
}