/* This is not routing */

@media (max-width: 500px) {
    .offcanvas {
        --bs-offcanvas-width: 75%;
    }
}

.material-symbols-outlined {
    font-size: 36px;
    display: block;
    margin-bottom: 8px;
    color: #000000;
}

.nav-link {
    text-align: center;
    padding: 20px 0;
}

.offcanvas-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.offcanvas-body {
    display: flex-start;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.offcanvas-header .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.offcanvas-header .hug-left {
    position: absolute;
    top: 10px;
    left: 10px;
}

.sidebarBg {
    background-color: #96ccff;
}


.btn-danger {
    background: linear-gradient(to right, #fd1d1d, #fcb045);
}