/* Global Variables */
:root {
    --button-color: linear-gradient(to right, #40afc8, #1e6cd2, #2d24d8, #150973);
    --text-color: #000000;
    --card-background-color: #ffffff;
    --button-border-radius: 10px;
    --background-color: #bae6f5;
    --button-font-size: 1.25rem;
}




/* Center screen class */
.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* This makes sure the container takes up 80% of the screen height */
}

/* Container Styles */
.container {
    text-align: center;
}

/* Button Styles */
.btn-primary {
    background: var(--button-color);
    border: none;
    padding: 10px 15px;
    font-size: var(--button-font-size);
    border-radius: var(--button-border-radius);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
