/* styles.css */

:root {
    --button-color: linear-gradient(to right, #40afc8, #1e6cd2, #2d24d8, #150973);
    --text-color: #000000;
    --card-background-color: #ffffff;
    --button-border-radius: 10px;
    --background-color: #bae6f5;
    --button-font-size: 1.5rem;
    --button-danger: linear-gradient(to right, #fd1d1d, #fcb045);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#queueHeader {
    color: #ffffff;
    font-weight: 700;
}

.queueCount {
    color: #007bff;
}

.buttons {
    margin: auto;
}

.buttons form {
    margin-bottom: 20px;
}

.buttons button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

.btn-primary{
    background: var(--button-color);
}

.btn-danger{
    background:var(--button-danger);
}