<%- include("template/header") %>
<link rel="stylesheet" href="css/guides.css">

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="mx-auto">Active Recall Method</span>
    </div>
</nav>

<div class="guide-section">
    <h2>Summary</h2>
    <p>
        Active Recall is a highly effective study technique that involves actively engaging with the material by testing yourself and retrieving information from memory, 
        rather than passively reviewing notes or textbooks. This method improves memory retention and understanding.
    </p>
</div>

<div class="guide-section steps">
    <h2>Steps</h2>
    <ul>
        <li>Prepare Study Materials: By writing down (on paper) flashcards, summaries, or practice questions based on the material you need to learn.</li>
        <li>Self-Test: Regularly test yourself on the material, attempting to recall the information without looking at your notes.</li>
        <li>Review Mistakes: After testing, review any mistakes and focus on the areas where you struggled.</li>
        <li>Repeat: Practice your active recall over multiple study sessions to reinforce your memory and understanding.</li>
    </ul>
</div>

<%- include("template/footer") %>
