<%- include("template/header") %>
    <link rel="stylesheet" href="css/chatroom.css">
    <form action='/chat/closeRoom' method='POST'>
        <button type="submit" class="btn btn-primary">Leave Queue</button>
        <h2 id="timer">Time Left: 3m 0s</h2>
    </form>
    <!-- <button id="addMinute" class="btn btn-primary">Add a Minute</button> -->
    <div class="container mt-4">
        <h2 class="text-center">Chat Messages</h2>

        <div id="chat-messages" class="mt-4">
            <!-- Existing chat messages will go here -->
        </div>
        <form id="message-form">
            <div class="input-group">
                <input type="text" id="message-input" class="form-control" placeholder="Type a message...">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/chatroom.js"></script>

    <%- include("template/footer") %>