<%- include("template/header") %>
<style>
    body {
        margin: 0 auto;
        max-width: 800px;
        padding: 0 20px;
    }

    .container {
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 10px 0;
    }

    .darker {
        border-color: #ccc;
        background-color: #ddd;
    }

    .container::after {
        content: "";
        clear: both;
        display: table;
    }

    .time-right {
        float: right;
        color: #aaa;
    }
</style>

<h2>Chat Messages</h2>

<div class="container">
    <div><strong>User1</strong></div>
    <div>
        Hey!
        <span class="time-right">11:00</span>
    </div>
</div>

<div class="container darker">
    <div><strong>User2</strong></div>
    <div>
        Hey! I'm fine. Thanks for asking!
        <span class="time-right">11:01</span>
    </div>
</div>

<div class="container">
    <div><strong>User1</strong></div>
    <div>
        Sweet! So, what do you wanna do today?
        <span class="time-right">11:02</span>
    </div>

</div>

<div class="container darker">
    <div><strong>User2</strong></div>
    <div>
        Nah, I dunno. Play soccer.. or learn more coding perhaps?
        <span class="time-right">11:05</span>
    </div>
</div>

<%- include("template/footer") %>