<%- include("template/header") %>
<link rel="stylesheet" href="css/guides.css">

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="mx-auto">Feynman Technique</span>
    </div>
</nav>

<div class="guide-section">
    <h2>Summary</h2>
    <p>
        The Feynman Technique is a powerful study method developed by Nobel Prize-winning physicist Richard Feynman. It involves breaking down complex topics into simple, understandable concepts and explaining them as if teaching a child. This technique helps deepen understanding and uncover knowledge gaps.
    </p>
</div>

<div class="guide-section steps">
    <h2>Steps</h2>
    <ul>
        <li>Choose a Topic: Select the topic you want to learn or understand better.</li>
        <li>Explain the Topic: Write down everything you know about the topic as if you were teaching it to a child or someone unfamiliar with the subject.</li>
        <li>Identify Gaps: Review your explanation and identify areas where your understanding is lacking or unclear.</li>
        <li>Review and Simplify: Go back to your study materials to fill in the gaps, then simplify and clarify your explanation.</li>
    </ul>
</div>

<%- include("template/footer") %>
