<%- include("template/header") %>

<style>
    body, html {
        height: 100%;
        margin: 0;
        overflow: hidden; /* Prevent scrolling */
    }
    .full-height {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, #28a745 50%, #17a2b8 50%);
    }
    .side {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        color: white;
        height: 100%;
    }
    .button {
        border: none;
        background: none;
        color: white;
        font-size: 1.5em;
        cursor: pointer;
    }
    .button img {
        display: block;
        margin: 0 auto 10px;
        width: 200px;
        height: auto;
    }
</style>
<link rel="stylesheet" href="css/background.css">

<div class="container-fluid full-height">
    <div class="row w-100 h-100">
        <div class="col-6 d-flex justify-content-center align-items-center">
            <form action="/habit/goodHabit" method="POST">
                <button type="submit" class="button">
                    <img src="/img/good_habit.gif" alt="image not loaded">
                    <p>Good Habit</p>
                </button>
            </form>
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center">
            <form action="/habit/badHabit" method="POST">
                <button type="submit" class="button">
                    <img src="/img/bad_habit.gif" alt="image not loaded">
                    <p>Bad Habit</p>
                </button>
            </form>
        </div>
    </div>
</div>

<%- include("template/footer") %>
