<%- include("template/header") %>

<% if (good) { %>
    <div class="container mt-4">
        <h2 class="text-center">Good Habits</h2>
        
            <% if (habits.length === 0) { %>
                <p>You have no good habits! Add some! Everyone wants good habits!</p>
            <% } else { %>
                <ul>
                    <% habits.forEach(habit => { %>
                        <li><%= habit.habit %> </li>
                    <% }); %>
                </ul>
            <% } %>
      
        <form action="/habit/goodHabitAdd" method="POST" class="mt-3 text-center">
            <button type="submit" class="btn btn-primary">Add a Habit</button>
        </form>
    </div>
<% } else { %>
    <div class="container mt-4">
        <h2 class="text-center">Bad Habits</h2>
        <ul class="list-group list-group-flush">
            <% if (habits.length === 0) { %>
                <p>You have no bad habits! Add some! Everyone has bad habits!</p>
            <% } else { %>
                <ul>
                    <% habits.forEach(habit => { %>
                        <li><%= habit.habit %> </li>
                    <% }); %>
                </ul>
            <% } %>
        </ul>
        <form action="/habit/badHabitAdd" method="POST" class="mt-3 text-center">
            <button type="submit" class="btn btn-primary">Add a Habit</button>
        </form>
    </div>
<% } %>

<script src="../public/js/habitC.js"></script>
<%- include("template/footer") %>
