<%- include("template/header") %>
<link rel="stylesheet" href="css/background.css">
<link rel="stylesheet" href="css/addHabit.css">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div style="display: flex; justify-content: center;">
                <div class="card bg-dark text-white" style="display: inline-block;">
                    <h2 class="text-center" style="margin: 10px;">
                      Add A Habit
                    </h2>
                </div>
              </div>
            <form id="habitForm" method='POST'>
                <br><br>
                <div class="mb-3">
                    <label for="habit" class="form-label card bg-dark text-white" style="display: inline-block; padding-left: 5px; padding-right: 5px;">Your Habit e.g., "I smoke"</label>
                    <input type="text" id="habit" name="habit" class="form-control" placeholder="Enter a habit">
                </div>
                <br><br>
                <div class="mb-3">
                    <label for="question" class="form-label card bg-dark text-white" style="display: inline-block; padding-left: 5px; padding-right: 5px;">Daily Question e.g., "Did you smoke today?"</label>
                    <input type="text" id="question" name="question" class="form-control" placeholder="Daily question we ask you">
                </div>
                <br><br>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Duplicate Habit Pop-Up Modal (Bootstrap template) -->
<div class="modal modal-sheet position-fixed p-4 py-md-5" tabindex="-1" role="dialog" id="duplicateModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header border-bottom-0">
                <h1 class="modal-title fs-5">Duplicate Warning!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-0">
                <p id="duplicateModalBody">You already have a Habit with the same name/Question. Are you sure you want to add this Habit?</p>
            </div>
            <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                <button type="button" class="btn btn-lg btn-primary" id="addAnywayButton">Add Anyway</button>
                <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Habit Successfully Added Pop-Up Modal (Bootstrap template) -->
<div class="modal modal-sheet position-fixed top-0 start-0 p-4 py-md-5" tabindex="-1" role="dialog" id="modalSuccess">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-body p-5">
                <h2 class="fw-bold mb-0">Success!</h2>
                <ul class="d-grid gap-4 my-5 list-unstyled small">
                    <li class="d-flex gap-4">
                        <img src="/img/success-icon.png" alt="Icon" width="48" height="48" class="text-body-secondary flex-shrink-0">
                        <div>
                            <h5 class="mb-0">Habit Added</h5>
                            You have successfully added this Habit!
                        </div>
                    </li>
                </ul>
                <button type="button" class="btn btn-lg btn-primary mt-5 w-100" id="successButton">Great, thanks!</button>
            </div>
        </div>
    </div>
</div>

<script>
    //Gives habitC.js goodOrBad value.
    var goodOrBad = <%= good ? 'true' : 'false' %>;
</script>
<script src="/js/habitC.js"></script>

<%- include("template/footer") %>
