<%- include("template/header") %>



    <style>
        .horizontal-progress {
            position: absolute;
            left: 5%;
            right: 5%;
            top: 48%;
            /* height: 10px; */
            height: 3%;
            background: linear-gradient(to right, green 50%, red 50%);
        }
        .habit {
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 2em;
        }
        .good-habit {
            top: 7%;
            left: 5%;
            right: 5%;
        }
        .bad-habit {
            bottom: 8%;
            left: 5%;
            right: 5%;
        }
    </style>

    <div class="horizontal-progress"></div>
    <form action="/habit/goodHabit" method="POST">
        <button style="height: 40%;" type="submit" class="btn btn-success h-49 habit good-habit">Good Habits</button>
    </form>
    <form action="/habit/badHabit" method="POST">
        <button style="height: 40%;" type="submit" class="btn btn-danger h-49 habit bad-habit">Bad Habits</button>
    </form>
    <!-- <a href="/goodHabit" class="habit good-habit">Good Habit</a>
    <a href="/badHabit" class="habit bad-habit">Bad Habit</a> -->

    <!-- ? Modal -->
    <div class="modal modal-sheet position-fixed p-4 py-md-5" tabindex="-1" role="dialog" id="modalFAQ">
        <div class="modal-dialog" role="document">
          <div class="modal-content rounded-4 shadow">
            <div class="modal-body p-5">
              <h2 class="fw-bold mb-0">Con</h2>
              <ul class="d-grid gap-4 my-5 list-unstyled small">
                <li class="d-flex gap-4">
                    <img src="/img/success-icon.png" alt="Icon" width="48" height="48" class="text-body-secondary flex-shrink-0">
                  <div>
                    <h5 class="mb-0">Grid view</h5>
                    Not into lists? Try the new grid view.
                  </div>
                </li>
                <li class="d-flex gap-4">
                    <img src="/img/success-icon.png" alt="Icon" width="48" height="48" class="text-body-secondary flex-shrink-0">
                  <div>
                    <h5 class="mb-0">Bookmarks</h5>
                    Save items you love for easy access later.
                  </div>
                </li>
                <li class="d-flex gap-4">
                    <img src="/img/success-icon.png" alt="Icon" width="48" height="48" class="text-body-secondary flex-shrink-0">
                  <div>
                    <h5 class="mb-0">Video embeds</h5>
                    Share videos wherever you go.
                  </div>
                </li>
              </ul>
              <button type="button" class="btn btn-lg btn-primary mt-5 w-100" data-bs-dismiss="modal">Great, thanks!</button>
            </div>
          </div>
        </div>
      </div>

<%- include("template/footer") %>





