<%- include('template/header') %>

<div class="row">
    <div class="col-md-6">
        <h1>Login</h1>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Enter your Password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button> 
        </form>
        <form action="/forgot" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Forgot Password?</button> 
            </div>
        </form>
        
    </div>
    <div class="col-md-6">
        <h1>Sign Up</h1>
        <form action="/signup" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" placeholder="Enter your Username" required>
            </div>
            <div class="form-group">
                <label for="name">Your actual name</label>
                <input type="text" name="name" class="form-control" placeholder="Enter your name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" placeholder="Enter your Email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Choose a Password" required>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        
    </div>
</div>
<%- include('template/footer') %>