<%- include('template/header') %>
<div>

    <p class="username"></p>
    <p class="name"></p>
    <p class="email"></p>
</div>
<script src="/js/profile.js"></script>
<%- include('template/footer') %>
