<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/img/betterU.ico" rel="icon" type="image/x-icon" />
    <title>Better U</title>

    <!-- Google Icons/Symbols -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/sidebar.css">
</head>
<style>
    .sidebarBg {
    background-color: #96ccff;
}
.material-symbols-outlined {
    color: #000000;
}

.btn-danger{
    background: linear-gradient(to right, #fd1d1d, #fcb045);
}
</style>
<body>
    <nav class="navbar fixed-top" style="pointer-events: none;">
        <div class="container-fluid d-flex justify-content-between">
            
            <a id="navbar-toggle" class="navbar-brand" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                <img src="/img/hamburg.png" alt="Sidebar" width="24" height="24" class="d-inline-block align-text-top" style="pointer-events: auto;">
            </a>
            <script>
                const navBar = document.getElementById('navbar-toggle');
                fetch('/checkAuth', {
                    method: "POST"
                })
                .then(response => response.json())
                .then(data => {
                    if (!data.success) {
                        navBar.style.display = 'none';
                    }
                })
                .catch(error => {
                    console.error('Error:', error.message);
                });
    
            </script>
            <a class="mx-auto" role="button" id="faqButton" style="display: none; pointer-events: auto;">
                <span class="material-symbols-outlined d-inline-block align-text-top" width="24" height="24">help</span>
            </a>
            <a role="button" onclick="goBack()" style="pointer-events: auto;">
                <!-- <img src="/img/back-arrow.png" alt="Sidebar" width="24" height="24" class="d-inline-block align-text-top"> -->
                <span class="material-symbols-outlined" width="24" height="24">arrow_circle_left</span>
            </a>
        </div>
    </nav>
    <div class="offcanvas offcanvas-start sidebarBg" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <form class="hug-left" action='/habit/habitQuestion' method='POST'>
                <button type="submit" id="expl-icon" class="btn"><img src="/img/expl.png" alt="EXO" width="24" height="24"></button>
            </form>
            <a href="/home1">
                <img src="/img/better_u_logo.png" alt="Better U Logo" width="150" height="150" class="mb-3">
            </a>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <nav class="nav flex-column">
                <a class="nav-link text-black" href="/home1">  
                    <span class="material-symbols-outlined">home</span>
                    Home Page
                </a>
                <a class="nav-link text-black" href="/chat">  
                    <span class="material-symbols-outlined">
                        chat_bubble
                    </span>
                    Chat Room
                </a>
                <a class="nav-link text-black" href="/interpersonal/select-scenario">
                    <span class="material-symbols-outlined">groups</span>
                    Interpersonal Practice
                </a>
                <a class="nav-link text-black" href="/habit">  
                    <span class="material-symbols-outlined">sports_handball</span>
                    Habit Tracker
                </a>
                <a class="nav-link text-black" href="/study">
                    <span class="material-symbols-outlined">book_4</span>
                    Study Improver
                </a>
                <a class="nav-link text-black" href="/profile">
                    <span class="material-symbols-outlined">account_circle</span>
                    Profile
                </a>
                <form action="/logout" method="post" class="nav-link">
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>
            </nav>
        </div>
    </div>


<link rel="stylesheet" href="css/background.css">
<link rel="stylesheet" href="css/scenarioSelect.css">

<div class="container mt-4">

  <div style="display: flex; justify-content: center;">
    <div class="card bg-dark text-white" style="display: inline-block;">
        <h1 class="text-center" style="margin: 10px;">
          Select Scenerio
        </h1>
    </div>
  </div>
  <br>

  <!-- <h1 class="text-center">Select Scenario</h1> -->
  <div class="row">
    <% scenarios.forEach(scenario => { %>
      <%- include('template/scenarioCard', {
            title: scenario.title,
            description: scenario.description,
            image: scenario.image,
            gif: scenario.gif,
            scenarioUrl: '/scenario/scenario' + scenario.id + '.json'
          }) %>
    <% }) %>
  </div>
</div>

<!-- Page info pop-up Modal -->
<div class="modal modal-sheet position-fixed p-4 py-md-5" tabindex="-1" role="dialog" id="modalFAQ">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-body p-5">
        <h2 class="fw-bold mb-0">Learn about the Interpersonal Helper</h2>
        <ul class="d-grid gap-4 my-5 list-unstyled small">
          <li class="d-flex gap-4">
             
            <div>
              <h5 class="mb-0">How to Use</h5>
              <ul>
                <li>Select one of the many scenarios you can play to practice actions and a good speaking tone when interacting with other people.</li>
              </ul>
            </div>
          </li>
          <li class="d-flex gap-4">
              
            <div>
              <h5 class="mb-0">To Keep in Mind</h5>
              <ul>
                <li>Not everyone may act or speak in the way the situations are set up but theyre widely accepted way to approach a given scenario.</li>
              </ul>
            </div>
          </li>
          <li class="d-flex gap-4">
              
            <div>
              <h5 class="mb-0">Benefits</h5>
              <ul>
                <li>Gain confidence in taking action and talking in social scenarios to hopefully relay this in real life.</li>
              </ul>
            </div>
          </li>
        </ul>
        <button type="button" class="btn btn-lg btn-primary mt-5 w-100" data-bs-dismiss="modal">Great, thanks!</button>
      </div>
    </div>
  </div>
</div>

<script>
  function selectScenario(scenarioUrl) {
    sessionStorage.setItem('scenarioUrl', scenarioUrl);
    window.location.href = '/interpersonal';
  }

  function toggleCard(card) {
    const cardBody = card.querySelector('.card-body');
    const cardImage = card.querySelector('.card-image');
    const gifSrc = cardImage.getAttribute('data-gif');
    const staticSrc = cardImage.getAttribute('data-static');

    if (cardBody.style.display === 'none' || !cardBody.style.display) {
      cardBody.style.display = 'block';
      cardImage.src = gifSrc;
      cardImage.classList.add('gif-image');
      cardImage.classList.remove('static-image');
      
    
    } else {
      cardBody.style.display = 'none';
      cardImage.src = staticSrc;
      cardImage.classList.add('static-image');
      cardImage.classList.remove('gif-image');
    }
  }
</script>
<script>
  var faqItem = 5;
</script>
<%- include('template/footer') %>
