<%- include('template/header', { title: 'Select Scenario' }) %>

<link rel="stylesheet" href="css/scenarioSelect.css">

<div class="container mt-4">
  <h1>Select Scenario</h1>
  <div class="row">
    <% scenarios.forEach(scenario => { %>
      <%- include('template/scenarioCard', {
            title: scenario.title,
            description: scenario.description,
            image: scenario.image,
            gif: scenario.gif,
            scenarioUrl: '/scenario/scenario' + scenario.id + '.json'
          }) %>
    <% }) %>
  </div>
</div>

<script>
  function selectScenario(scenarioUrl) {
    sessionStorage.setItem('scenarioUrl', scenarioUrl);
    window.location.href = '/interpersonal';
  }

  function toggleCard(card) {
    const cardBody = card.querySelector('.card-body');
    const cardImage = card.querySelector('.card-image');
    const gifSrc = cardImage.getAttribute('data-gif');
    const staticSrc = cardImage.getAttribute('data-static');

    if (cardBody.style.display === 'none' || !cardBody.style.display) {
      cardBody.style.display = 'block';
      cardImage.src = gifSrc;
    } else {
      cardBody.style.display = 'none';
      cardImage.src = staticSrc;
    }
  }
</script>

<%- include('template/footer') %>
