<%- include('template/header', { title: 'Select Scenario' }) %>
<link rel="stylesheet" href="css/scenarioSelect.css">
<div class="container mt-4">
  <h1>Select a Category and Scenario</h1>
  <div class="btn-group-vertical w-100" role="group" aria-label="Scenario selection">
    <button type="button" class="btn btn-scenario" onclick="selectScenario('/scenario/scenario1.json')">Making Friends - Approaching Someone New</button>
    <button type="button" class="btn btn-scenario" onclick="selectScenario('/scenario/scenario2.json')">Dating and Romantic Relationships - Handling Rejection</button>
    <button type="button" class="btn btn-scenario" onclick="selectScenario('/scenario/scenario3.json')">Family and Close Relationships - Supporting a Loved One</button>
    <button type="button" class="btn btn-scenario" onclick="selectScenario('/scenario/scenario4.json')">Handling Public Situations - Dealing with Awkward Situations</button>
    <button type="button" class="btn btn-scenario" onclick="selectScenario('/scenario/scenario5.json')">Conflict Resolution - Apologizing Effectively</button>
    <button type="button" class="btn btn-scenario" onclick="selectScenario('/scenario/scenario6.json')">Social Etiquette - Cultural Sensitivity</button>
  </div>
</div>

<!-- ? Modal -->
<div class="modal modal-sheet position-fixed d-block p-4 py-md-5" tabindex="-1" role="dialog" id="modalFAQ">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-body p-5">
        <h2 class="fw-bold mb-0">What's new</h2>
        <ul class="d-grid gap-4 my-5 list-unstyled small">
          <li class="d-flex gap-4">
              <img src="/img/success-icon.png" alt="Icon" width="48" height="48" class="text-body-secondary flex-shrink-0">
            <div>
              <h5 class="mb-0">Grid view</h5>
              Not into lists? Try the new grid view.
            </div>
          </li>
          <li class="d-flex gap-4">
              <img src="/img/success-icon.png" alt="Icon" width="48" height="48" class="text-body-secondary flex-shrink-0">
            <div>
              <h5 class="mb-0">Bookmarks</h5>
              Save items you love for easy access later.
            </div>
          </li>
          <li class="d-flex gap-4">
              <img src="/img/success-icon.png" alt="Icon" width="48" height="48" class="text-body-secondary flex-shrink-0">
            <div>
              <h5 class="mb-0">Video embeds</h5>
              Share videos wherever you go.
            </div>
          </li>
        </ul>
        <button type="button" class="btn btn-lg btn-primary mt-5 w-100" data-bs-dismiss="modal">Great, thanks!</button>
      </div>
    </div>
  </div>
</div>

<script>
  function selectScenario(scenarioUrl) {
    sessionStorage.setItem('scenarioUrl', scenarioUrl);
    window.location.href = '/interpersonal';
  }
</script>

<%- include('template/footer') %>
