<%- include('template/header', { title: 'Select Scenario' }) %>
<link rel="stylesheet" href="css/background.css">
<link rel="stylesheet" href="css/scenarioSelect.css">

<div class="container mt-4">
  <h1 class="text-center">Select Scenario</h1>
  <div class="row">
    <% scenarios.forEach(scenario => { %>
      <%- include('template/scenarioCard', {
            title: scenario.title,
            description: scenario.description,
            image: scenario.image,
            gif: scenario.gif,
            scenarioUrl: '/scenario/scenario' + scenario.id + '.json'
          }) %>
    <% }) %>
  </div>
</div>

<!-- ? Modal -->
<div class="modal modal-sheet position-fixed p-4 py-md-5" tabindex="-1" role="dialog" id="modalFAQ">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-body p-5">
        <h2 class="fw-bold mb-0">Learn about the Interpersonal Helper</h2>
        <ul class="d-grid gap-4 my-5 list-unstyled small">
          <li class="d-flex gap-4">
              <img src="/img/success-icon.png" alt="Icon" width="48" height="48" class="text-body-secondary flex-shrink-0">
            <div>
              <h5 class="mb-0">How to Use</h5>
              <ul>
                <li>Select one of the many scenarios you can play to practice actions and a good speaking tone when interacting with other people.</li>
              </ul>
            </div>
          </li>
          <li class="d-flex gap-4">
              <img src="/img/success-icon.png" alt="Icon" width="48" height="48" class="text-body-secondary flex-shrink-0">
            <div>
              <h5 class="mb-0">To Keep in Mind</h5>
              <ul>
                <li>Not everyone may act or speak in the way the situations are set up but theyre widely accepted way to approach a given scenario.</li>
              </ul>
            </div>
          </li>
          <li class="d-flex gap-4">
              <img src="/img/success-icon.png" alt="Icon" width="48" height="48" class="text-body-secondary flex-shrink-0">
            <div>
              <h5 class="mb-0">Benefits</h5>
              <ul>
                <li>Gain confidence in taking action and talking in social scenarios to hopefully relay this in real life.</li>
              </ul>
            </div>
          </li>
        </ul>
        <button type="button" class="btn btn-lg btn-primary mt-5 w-100" data-bs-dismiss="modal">Great, thanks!</button>
      </div>
    </div>
  </div>
</div>

<script>
  function selectScenario(scenarioUrl) {
    sessionStorage.setItem('scenarioUrl', scenarioUrl);
    window.location.href = '/interpersonal';
  }

  function toggleCard(card) {
    const cardBody = card.querySelector('.card-body');
    const cardImage = card.querySelector('.card-image');
    const gifSrc = cardImage.getAttribute('data-gif');
    const staticSrc = cardImage.getAttribute('data-static');

    if (cardBody.style.display === 'none' || !cardBody.style.display) {
      cardBody.style.display = 'block';
      cardImage.src = gifSrc;
    } else {
      cardBody.style.display = 'none';
      cardImage.src = staticSrc;
    }
  }
</script>

<%- include('template/footer') %>
