<%- include("template/header") %>
    <style>
        .center-screen {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
            /* This makes sure the container takes up the full height of the screen */
        }
    </style>
    <div class="container text-center">
        <h1>Study Page.</h1>
        <div class="row center-screen">
            <div class="col-md-4">
                <form action='/study/guides' method='POST'>
                    <button type="submit" class="btn btn-primary">Study Guides</button>
                </form>
            </div>
            <div class="col-md-4">
                <form action='/study/session' method='POST'>
                    <button type="submit" class="btn btn-primary">Study Session</button>
                </form>
            </div>
            <div class="col-md-4">
                <form action='/study/log' method='POST'>
                    <button type="submit" class="btn btn-primary">Study Log</button>
                </form>
            </div>
        </div>
    </div>
<%- include("template/footer") %>