<%- include("template/header") %>
<link rel="stylesheet" href="css/studySession.css">

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <!-- <span class="mx-auto">Study Session</span> -->
    </div>
</nav>

<div class="container mt-4">
    <div class="timer-container">
        <div class="timer-display" id="demo">0h 0m 0s</div>
        <div class="timer-section">
            <div class="text-display">hr</div>
            <input type="number" id="hoursInput" placeholder="H" min="0" max="23" value="0">
        </div>
        <div class="timer-section">
            <div class="text-display">min</div>
            <input type="number" id="minutesInput" placeholder="M" min="0" max="59" value="0">
        </div>
        <div class="timer-section">
            <div class="text-display">sec</div>
            <input type="number" id="secondsInput" placeholder="S" min="0" max="59" value="0">
        </div>
        <br>
        <br>
        <button id="startStopBtn" class="btn-timer" onclick="startStop()">Start</button>
        <button class="btn-timer" onclick="resetTimer()">Reset</button>
    </div>

    <form action="/study/logSession" method="POST" class="study-log-form mt-5">
        <h2 class="text-center mb-4">Log Your Session</h2>
        <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" name="subject" class="form-control" placeholder="Enter your Subject" required>
        </div>
        <div class="form-group">
            <label for="duration">Duration (in minutes)</label>
            <input type="number" name="duration" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea name="notes" class="form-control" placeholder="Write some notes" rows="4" required></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary w-100">Log Study Session</button>
    </form>
</div>

<script>
    var timeLeft = <%= timeLeft %>;
    var isPaused = <%= isPaused %>; // Pass the isPaused state from the server
</script>
<script src="js/timer.js"></script>

<%- include("template/footer") %>
