<%- include("template/header") %>
    <link rel="stylesheet" href="css/waitingRoom.css">
    <link rel="stylesheet" href="css/background.css">
    <div class="container text-center">

        <div style="display: flex; justify-content: center;">
            <div class="card bg-dark text-white" style="display: inline-block;">
                <h1 id="queueHeader">
                    <span class="queueCount text-center" style="margin: 10px;">
                        <%= queueCount %>
                    </span>
                    Waiting In Queue...
                </h1>
            </div>
        </div>

        <!-- <h1 id="queueHeader"><span class="queueCount">
                <%= queueCount %>
            </span> Waiting In Queue... </h1> -->
        <br>
        <div class="row center-screen">
            <div class="col-md-4 buttons">
                <form action='/chat/join' method='POST'>
                    <button type="submit" class="btn btn-primary">Join Queue</button>
                </form>
                <form action='/chat/leave' method='POST'>
                    <button type="submit" class="btn btn-primary">Leave Queue</button>
                </form>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/waitingRoom.js"></script>
    <script>
        var faqItem = 2;
      </script>
    <%- include("template/footer") %>