<%- include("template/header") %>
<link rel="stylesheet" href="css/waitingRoom.css">
<link rel="stylesheet" href="css/background.css">

<!-- centered in middle of screen for height style -->
<div class="d-flex flex-column justify-content-center" style="height: calc(100vh - 150px);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card text-center bg-dark text-white">
                    <div class="card-body">
                        <h1 id="queueHeader" class="card-title">
                            <span class="queueCount">
                                <%= queueCount %>
                            </span>
                            Waiting In Queue...
                        </h1>
                        <div class="mt-4 d-flex justify-content-between">
                            <form action='/chat/join' method='POST'>
                                <button type="submit" class="btn btn-primary mb-2">Join Queue</button>
                            </form>
                            <form action='/chat/leave' method='POST'>
                                <button type="submit" class="btn btn-danger">Leave Queue</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- ? Modal -->
 <div class="modal modal-sheet position-fixed p-4 py-md-5" tabindex="-1" role="dialog" id="modalFAQ">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-body p-5">
          <h2 class="fw-bold mb-0">The Chat Room</h2>
          <ul class="d-grid gap-4 my-5 list-unstyled small">
            <li class="d-flex gap-4">
              <div>
                <h5 class="mb-0">Queue System</h5>
                <ul>
                  <li>Join the queue and get matched up randomly with another in the queue! Needs 2 users in the queue at a time to work.</li>
                </ul>
              </div>
            </li>
            <br>
            <br>
            <li class="d-flex gap-4">
              <div>
                <h5 class="mb-0">Go Chat!</h5>
                <ul>
                  <li>Experience live chatting with a user, talk about your hobbies, skills, and whatever else comes to mind.</li>
                  <li>Be sure to make use of your time as you only have 3 minutes to learn and talk with the other person on the chat!<br>
                      These fast pace interactions will help you start conversions easily over time.</li>
                  
                </ul>
              </div>
            </li>
            <li class="d-flex gap-4">
            </li>
          </ul>
          <button type="button" class="btn btn-lg btn-primary mt-5 w-100" data-bs-dismiss="modal">Great, thanks!</button>
        </div>
      </div>
    </div>
  </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/waitingRoom.js"></script>
    <script>
        var faqItem = 2;
      </script>
    <%- include("template/footer") %>