<%- include("template/header") %>
<link rel="stylesheet" href="css/waitingRoom.css">
    <div class="container text-center">
        <h1 id="queueHeader"><span class="queueCount">
            <%= queueCount %>
        </span> Waiting In Queue... </h1>
        <div class="row center-screen">
            <div class="col-md-4">
                <form action='/chat/join' method='POST'>
                    <button type="submit" class="btn btn-primary">Join Queue</button>
                </form>
                <br>
                <form action='/chat/leave' method='POST'>
                    <button type="submit" class="btn btn-primary">Leave Queue</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/waitingRoom.js"></script>
    <%- include("template/footer") %>