<%- include("template/header") %>
    
<div class="container text-center">
    <h1>Waiting Queue.</h1>
    <div class="row center-screen">
        <div class="col-md-4">
            <form action='/waiting' method='POST'>
                <button type="submit" class="btn btn-primary">Join Queue</button>
            </form>
        </div>
    </div>
</div>

<%- include("template/footer") %>